.navbar-toggle { float: left;margin: 0; height: 50px; width: 50px; background: #444; border-radius: 0;z-index: 1}
.navbar-toggle .icon-bar { width: 28px; background: #fff;transition: .5s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}