<!DOCTYPE html>
<html lang="en" ng-app="testo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/home.css" rel="stylesheet">
  </head>

  <body ng-controller="mainController">

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Testo</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="orders">Orders</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="api/logout">Logout</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <h2>Lookup product</h2>
              </div>
              <div class="form-group">
                <label class="control-label" for="productCode">Product code</label>
                <input ng-model="formData.productCode" id="productCode" type="text" pattern=".{8,8}" class="form-control" placeholder="Enter 8 digit product code" title="Product code should be exactly 8 digits long" required>
              </div>
              <div class="form-group">
                <button ng-click="lookupProduct()" id="signupSubmit" type="submit" class="btn btn-primary btn-block">Lookup product</button>
              </div>
              <div ></div>
              <p ng-show="success" class="testo-success bg-success" ngCloak>{{ reason }}</p>
              <p ng-show="!success" class="bg-danger" ngCloak>{{ reason }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
  </body>
</html>