<!DOCTYPE html>
<html lang="en" ng-app="testo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet">
  </head>

  <body ng-controller="mainController">

    <div class="testo-login-container container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputPhoneNumber" class="sr-only">Phone number</label>
        <input ng-model="formData.phone_number" type="text" maxlength="10" id="inputPhoneNumber" class="form-control" placeholder="Phone number" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="formData.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p ng-show="success" class="testo-success bg-success" ngCloak>{{ reason }}</p>
        <p ng-show="!success" class="bg-danger" ngCloak>{{ reason }}</p>
        <button ng-click="loginUser()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="register" class="btn btn-lg btn-primary btn-block">
          Register
        </a>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>